# --- NODE / FRONTEND ---
node_modules/
# Archivo de registro de errores de npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --- TAILWIND ---
.postcss.config.js

# --- GO / BACKEND ---
# Binarios compilados de Go
/bin/
/dist/
server-main
*.exe
*.exe~
*.dll
*.so
*.dylib

# --- ARCHIVOS DE SISTEMA / IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# --- VARIABLES SENSIBLES ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local